body {
    align-items: center;
    justify-items: center;
    background-color: #f8f8f8;
}

#page_container {
    width: 720; 
    border-spacing: 0;

    margin-left: auto;
    margin-right: auto;
}

#title {
    width: 640;
    height: 60;
    
    font-size:48px;
    text-align: center;
    color:#000088;
    text-decoration:none;

    margin-left: auto;
    margin-right: auto;
}


.horizontal_divider {
    width: 800; 
    height:10;
    color:#446688;
    background-color:#446688;
}

#explanation {
    font-family: monospace;
    font-size:18px;

    text-align: center;
}

#input_conclusion {
    font-family:courier;
    font-size:16px;

    display:block;
    margin-left: auto;
    margin-right: auto;
}